body{
  background-image: url(../image/healthcare.png);
  background-position: left top;
  background-size: 100%;
}
h1{
  text-align: center;
}
.col-md-12{
   text-align: justify;
   background-color: ;
   margin-left: 300px; 
   margin-top: 50px;  
}
.logo{
	height: 50px;
    width: 50px;
}
span{
	color: black;
	margin-left: 150px;
}
.btn {
	color: white;
	background: #008080;
	height: 40px;
	width: 100px;
  border: none;
  opacity: 0.8;
	margin-left: 150px;
  margin-top: 30px;
	background: dark blue;
	text-decoration: bold;
}
.user-logo{
	width: 60px;
	height: 60px;
	margin-left: 600px;
  margin-top: 50px;

}
.login-heading-text{
  height: 70px;
  border: 1px solid gray;
  font-size: 30px;
  font-weight: bold;
  color: black;
  padding-top: 10px;
  background: #008080;
  opacity: 0.8;
  width: 100%;
}
.login-heading-image{
  width: 50px;
  height: 50px;
   margin-left: 440px;
}
.login-container{
  border-radius: 10px;
  width: 480px;
  height: 350px;
  background: #d9dce0;
  padding: 20px;
  margin-left: 400px;
  background-image: url("../image/login-bg.jpg");
  margin-top: 50px;
  opacity: 0.9;
}
.login-label{
  font-size: 15px;

}
