body{
  background-image: url(../image/healthcare.png);
  background-position: left top;
  background-size: 100%;
}
.register-heading-text{
  height: 70px;
  border: 1px solid gray;
  font-size: 30px;
  font-weight: bold;
  color:black;
  padding-top: 10px;
  background: #4ec7c9;
  text-align: center;
  width: 100%;
}
.register-heading-image{
  width: 50px;
  height: 50px;
}
.register-container{
  border-radius: 10px;
  width: 480px;
  opacity: 0.8;
  height: 620px;
  background: #d9dce0;
  padding: 20px;
  margin-left: 370px;
  background-image: url("../image/login-bg.jpg");
  margin-top: 30px;
}
.signup{
  font-family: unset;
  font-size: 20px;
  margin-left: 180px;
  margin-bottom: 10px;
}
.form-group{
  margin-left: 20px;
  width: 380px !important;
  height: 60px !important;
}
.form-group-small{
  width: 150px;
  margin-left: 20px;
}
.register-label{
  font-size: 15px;
}
.gender{
  font-size: 25px;
}
.inline-text{
    width: 120px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.inline-button{
   width: 80px;
   height: 40px;
   color: white;
   font-weight: bold;
   background : #4ec7c9;
   margin-top: 20px;
   margin-left: 55px;
   border: none;
}
.inline-label{
  margin-left: 15px;
  font-size: 15px;
  
}
input[type="radio"]:checked:before {
    content: "";
    display: block;
    position: relative;
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 70%;
    background: #E2B13C;
